.group {
  margin-left: 1rem;
  max-width: 96%;
  font-family: roboto;


  .border {
    border: solid 1px black;
  }

  .no-boder {
    border: none;
  }

  .add-task {
    display: flex;
    width: 100%;
    margin-left: 2.2rem;
    input {
      display: flex;
      border: none;
      height: rem(35px);
      cursor: pointer;
      width: calc(100% - 70px);
      border: 1px rgba(0, 0, 0, 0.089) solid;
      // // font-family: roboto-light,helvetica,sans-serif;
      position: sticky;
      border-inline-end: none;
      // // .color-marker &::before {
      // //   opacity: .5
      // // }
    }

    .input-group-name {
      position: absolute;
      left: 100px;
      margin-left: 1.8rem;
    }

    .btn-add-task {
      height: 100%;
      padding: 0 10px;
      background-color: #0073ea;
      color: #fff;
      border: none;
      transition: 0.3s ease;
      cursor: pointer;
      // // font-family: roboto-light, helvetica, sans-serif;
      // position: -webkit-sticky;
      position: sticky;
    }
  }

  .group-header {
    width: 100%;
    margin: 0.1rem 0;
    background-color: #fff;

    // margin-left: 2rem;

    .column-headers {
      width: 100%;
      display: flex;
      justify-items: center;
      .input {
        min-width: rem(306px);
      }
      div {
        display: flex;
        justify-content: center;
        justify-items: center;
        min-width: rem(200px);

        &:first-of-type {
          display: flex;
          flex-grow: 1;
          justify-content: start;
          align-items: center;
          min-width: rem(411px);
          i {
            margin-right: .5rem;
          }
        }
        &:last-of-type {
          margin-right: rem(10px);
        }
      }
    }
    i.fa {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      border: 1px solid blue;
      background-color: blue;
      color: #fff;
      transition: 0.3s;
    }
    i.fa:hover {
      cursor: pointer;
      border: 1px solid #504658;
      background-color: #fff;
      color: #504658;
    }
  }
  .group-footer {
    height: 2rem;
    width: 100vw;
    margin: 0.1rem 0;
    background-color: #fff;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}

.btn-edit {
  border: none;
  background-color: inherit;
  margin-left: 20px;
  cursor: pointer;
  color: #504658dc;
}


