.workspace-container {
  height: 100%;
  font-family: roboto;
  flex: 1;

  .workspace {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: rem(20px);
    font-family: roboto;
    width: 100%;

    .board-header {
      display: flex;
      width: 95%;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      font-size: 20px;
      flex-wrap: wrap;
      font-family: roboto;

      // .border{
      //     border: 1px solid lightcyan;
      // }
      .no-boder {
        border: none;
      }

      .input-section {
        margin-left: 1.2rem;
        color: #676879;
      }

      input {
        border: none;
        min-width: 350px;
        min-height: 20px;
      }

      a {
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
      }

      .board-title {
        font-weight: bolder;
        font-size: 24px;
        letter-spacing: -0.2px;
        // line-height: 32px;
        font-family: roboto;
      }
      .main-title {
        align-items: center;
        font-family: roboto;
      }
    }
    .board-info {
      margin-left: 1.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2px;

      .fas.fa-share-alt {
        font-weight: 400px;
        // padding-right: 10px;
      }
    }
    .add-board-btn {
      border: none;
      background-color: inherit;
      font-family: roboto;
    }

    .board-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1;
      overflow: scroll;
      max-width: 100%;
      font-family: roboto;
      margin-left: 1.5rem;

      // padding-right: 20px;
    }
    .main-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &:first-child {
        margin-inline: -0.6rem;
      }

      &:last-child {
        margin-inline: -0.6rem;
      }
    }
    .member-avatars {
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
    }
  }

  .member-avatars {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }

  .invite-container {

    position: fixed;
    background-color: white;
    transform: translate(50%, 50%);
    z-index: 50;
    width: 600px;
    border-radius: 10px;
    // margin-top: 20%;

    .invite-list {
      padding: 20px 30px;

      span {
        font: 24px roboto;
      }
      p {
        padding-top: 5px;
        font-size: 14px;
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.274);
        border-radius: 3px;
        padding: 10px;
        margin: 20px 0;
        width: 100%;
        outline: none;
      }

      li {
        cursor: pointer;
        padding: 15px;
        width: 100%;
        align-items: center;

        .user {
          align-items: center;
          gap: 10px;
          width: 85%;

          .memebr-img {
            border: 1px solid rgb(126, 126, 114);
          }

          span {
            font-size: 15px;
            font-weight: bold;
          }
        }

        .list-btn {
          & > * {
            font-size: 14px;
            padding-left: 20px;
            color: rgb(194, 194, 194);
          }
          
          .member{
            color: #341ff5;
          }
        }
      }
    }
  }
}



