.board-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    button {
        border: none;
        background-color: inherit;
    }

    .board-action-btns {
        display: flex;
        gap: 20px;
    }

    .share {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
