.home{
    padding-top: 30px;
    background-image: url(~@/pics/team-work.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    font-weight: bolder;

    h1{
        margin: auto;
        text-align: center
    }
 
}


