.landing-page {
    display: flex;
    flex-direction: column;
    height: inherit;

    .home-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: nowrap;
        height: 100%;
    }
    .home-header .logo-home {
        width: 160px;
        margin-right: 16px;
    }

    .home-nav {
        display: flex;
        flex-wrap: nowrap;
    }
    .extra-info {
        display: flex;
        gap: 20px;
    }
    .action-btn {
        display: flex;
        gap: 20px;
        align-items: center;

        .get-started {
            color: #fff;
            background-color: #4353ff;
            border-radius: 40px;
            border: none;
            padding: 8px 16px;
            margin-left: 32px;
            transition: all 0.3s ease;
        }
    }

    .more-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
    }

    .first-p {
        margin-top: 60px;
    }
    img {
        max-width: 600px;
        margin: 20px;
        box-shadow:  6px 8px 19px rgb(0 0 0 / 30%)
    }

    a {
        color: inherit;
        text-decoration: none;
        line-height: 1;
    }

    a:hover {
        color: #4353ff;
    }

    .info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .info-heading {
            font-size: 80px;
        }
        .opening-para {
            font-family: sofia-thin;
            font-size: 24px;
            line-height: 40px;
            // word-break: break-word;
            text-align: center;
            max-width: 55ch;
        }
        .get-started-in {
            font-size: 20px;
            cursor: pointer;
            color: #fff;
            background-color: #4353ff;
            border-radius: 40px;
            border: none;
            padding: 11px 48px;
            transition: all 0.3s ease;

            .fas {
                margin-left: 5px;
                text-align: center;
            }
        }

        .main-img {
            margin-top: 50px;
            max-width: 1000px;
            box-shadow:  6px 8px 19px rgb(0 0 0 / 30%)
        }

        h3 {
            font-family: sofia-bold;
            font-size: 2.5rem;
            line-height: 48px;
            word-break: break-word;
        }

        p {
            font-family: sofia-thin;
            font-size: 20px;
            line-height: 32px;
            word-break: break-word;
            max-width: 45ch;
            text-align: center;
        }

        .logo {
            font-size: 30px;
            width: 100%;
            color: #2b2c5d;
            padding-bottom: 30px;
        }

        .trial {
            width: 100%;
            background-color: #2b2c5d;
            color: #fff;
            padding-top: 80px;
            padding-bottom: 104px;
            text-align: center;

            a {
                color: #fff;
                background-color: #4353ff;
                border-radius: 40px;
                border: none;
                padding: 8px 16px;
                // margin-left: 32px;
                transition: all 0.3s ease;
            }
        }
        .links {
            margin-top: 40px;
            margin-bottom: 40px;
            display: flex;
            gap: 10px;

            a {
                cursor: pointer;
            }
        }

        .phone-pic {
            max-height: 300px;
            max-width: 450px;
            box-shadow:  6px 8px 19px rgb(0 0 0 / 30%)
        }
    }

    .txt {
        padding: 40px;
    }

    .imgs {
        margin-left: 30px;
        display: flex;
        // gap: 10px;
    }

    .icons{
        font-size: 20px;
        color: #323338;
        margin: 0px 0px 0px 8px;
        font-family: sofia-pro, Robot;
    }
}
