<<<<<<< HEAD
// .main-nav{
//    background-color:#292f4c;
// }
=======
.main-nav{
    width: rem(54px);
    height: 100vh;
   background-color:#292f4c;


}
>>>>>>> 8929eb39fde34fd5c9c3caac11d37aed0c24f94f
