.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 66px;
  background-color: #292f4c;
  height: 100%;
  color: white;
}
.sub-nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12px;
  margin: 2px 0;
  
  a:nth-child(2) {
    margin-bottom: 12px;
  }
  a:nth-child(3) {
    margin-bottom: 13px;
  }
  a {
    padding: 5px;
    font-size: 20px;
  }

  .fas {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .icon-workspace{
    font-size: 18px;
  }
}

.sub-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12px;
  margin: 2px 0;
  // a:nth-child(2) {
  //   margin-bottom: 10px;
  // }

  a {
    padding: 5px;
    font-size: 20px;
  }

  .fas {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
  }

  // .question-mark {
  //   margin-bottom: 0px;
  //   color: white;
  //   font-size: 20px;
  // }

  .fa-puzzle-piece {
    margin-bottom: 12px;
    font-size: 18px;
  }
  .icon-add-user {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .icon-search {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .fa-sign-out-alt {
    margin-bottom: 4px;
    font-size: 20px;
    color: white;
  }

  .far.fa-user-circle {
    margin-bottom: 9px;
    font-size: 46px;
  }
}

.fab,
.fas,
.far {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

a:hover {
  background-color: #e6e9ef;
  border-radius: 5px;
}

.side-msg {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 130px;
  width: 33px;
  margin-top: 70px;
  border-radius: 0 16px 16px 0;
  background-color: #258750;
  display: -webkit-flex;

  span {
    color: white;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 0.875rem;
    text-align: center;
    white-space: nowrap;
  }

  .far.fa-star {
    font-size: 10px;
  }

  .side-msg:hover {
    background-color: darkgreen;
    width: 44px;
  }
}

.logo-img {
  max-width: rem(25px);
}
.icon-workspace {
  font-size: 20px;
  height: 23px;
}
