.main-nav {
    min-width: rem(71px);
    background-color: #292f4c;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    color: white;

    .logo-img {
        max-width: rem(45px);
        margin-top: rem(15px);
    }

    .icon-workspace {
        font-size: 1.3rem;
    }
    .fab,
    .fas,
    .far {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 400;
        // padding: 3px;
        // font-weight: 400;
    }
    .page-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .pages {
            gap: 15px;
            // gap: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            // margin-top: 8px;
            // margin-bottom: 0px;
        }
        a{
            padding: 10px;
            color: white;
        }
        .fas.fa-inbox{
            color: white;
          font-weight: 800px;
        }


    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
    }

    .side-msg {
        min-height: 140px;
        width: 38px;
        border-radius: 0 16px 16px 0;
        background-color: #258750;
        display: -webkit-flex;
        display: flex;
        text-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        cursor: pointer;

        span {
            color: white;
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            font-size: 0.875rem;
            text-align: center;
            white-space: nowrap;
        }

        .far.fa-star {
            font-size: 10px;
        }

        .icon-add-user,
        .icon-search {
            padding: 10px;
        }
    }

    .side-msg:hover {
        background-color: darkgreen;
        width: 44px;
    }
    .user-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        // gap: 20px;

        a{
            padding: 10px;
        }

        .fas {
            // padding: 10px;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
            // padding: 3px;
            // gap: 20px;
        }

        .question-mark {
            // padding: 5px;
            color: white;
            font-size: 20px;

        }

        .far.fa-user-circle {
            padding-bottom: 10px;
            font-size: 2rem;
            // padding: 10px;
        }
    }
}
