.action-btn {
    margin-left: 1rem;
    display: flex;

    .add-task-btn {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #323338;
        color: var(--primary-text-color);
        padding: 4px 8px;
        height: 32px;
        line-height: 24px;
        background-color: #007dff;
        border: none;
        border-radius: 4px;
    }

}
