.done{
    background-color: #30c875;
}
.work{
    background-color: #fbab3e;
}
.stuck{
    background-color: #e2445c;
}



$background: #f5f6f8;
$main-primary: #30c875;
$main-secondary: #1a6d3f;

$corner: 50px;
$transition: 0.3s;

.tag {
  background: $main-primary;
  color: $main-secondary;
  display: block;
  overflow: hidden;
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding:  0 rem(20px);
  &.corner {
    cursor: pointer;
    &::before {
      content: '';
      display: block;
      width: $corner*0;
      height: $corner*0;
      position: absolute;
      right: 0px;
      top: 0px;
      background: $main-secondary;
      transition: $transition;
    }
    &::after {content: '';
      display: block;
      width: $corner;
      height: $corner;
      position: absolute;
      right: $corner*-1;
      top: $corner*-1;
      background: $background;
    	transform: rotate(45deg);
      transition: $transition*.8;
    }
    &:hover {
      &::before {
        width: $corner*.2;
        height: $corner*.2;
      }
      &::after {
        width: $corner*1.15;
        height: $corner*1.15;
        right: $corner*-0.9;
        top: $corner*-0.9;
      }
    }
  }
}