.task-updates {
    flex-direction: column;
    margin-top: 17px;
    padding: 0 30px;

    input {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid rgba(170, 88, 238, 0.698);
    }

    .comment-form {
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(170, 88, 238, 0.698);

        & > * {
            width: 100%;
        }

        .text-edit {
            display: flex;
            gap: 30px;

            & > * {
                font-size: 100%;
                margin: 4px 1px 4px 2px;
                padding: 8px;
            }
        }
        .comment-input {
            padding: 16px 18px 55px 18px;

            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }
    }

    .actions-footer {
        margin-top: 6px;
        button {
            color: #0073ea;
            cursor: pointer;
            & > * {
                font-size: 14px;
                color: #0073ea;
            }
        }

        .emoji-picker {
            position: absolute;
            max-width: 300px;
            display: block;
            background-color: white;
            transform: translate(50%);
            z-index: 10;

            .emoji-search {
                border: 1px solid;
                border-radius: 5px;
                position: sticky;

                input {
                    text-align: left;
                    border: none;
                    outline: none;
                }
            }

            .emoji-container {
                max-height: 100px;
            }
        }

        .text-edit {
            margin-right: 42%;
            button {
                padding: 0;
            }
            & > * {
                margin-right: 15px;
            }
        }

        .save-btn {
            background-color: #0073ea;
            color: white;
            height: 32px;
            padding: 4px 8px;
        }
    }

    a {
        text-align: right;
    }

    .update-card {
        border-radius: 8px;
        margin-top: 30px;
        border: 1px solid rgba(180, 171, 171, 0.397);
        border-top: 2px solid rgb(170, 88, 238);
        text-align: left;

        .top {
            padding: 15px;
        }

        .card-btn {
            float: right;
            span {
                font: 14px roboto;
            }

            & > * {
                display: inline-block;
                margin: 0;
                margin-left: 10px;
            }
        }
        .dropdown {
            .fas.fa-sort-down {
                transform: translateY(-20%);
            }

            .dropdown-menu {
                margin-right: 100px;
            }
        }

        .user-info {
            h3 {
                transform: translateY(40%);
                padding-left: 60px;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            p {
                padding: 20px 40px;
            }
        }

        .watchers {
            text-align: right;

            p {
                padding-left: 4px;
            }
        }
        .watchers > * {
            display: inline-block;
        }

        hr {
            border: 2px solid rgba(180, 171, 171, 0.397);
        }

        .action-btn {
            border-top: 1px solid rgba(180, 171, 171, 0.397);
        }
        .action-btn :not(:last-child) {
            border-right: 1px solid rgba(180, 171, 171, 0.397);
        }
        .action-btn > * {
            flex-basis: 50%;
        }
        button {
            width: 100%;
        }
    }
}
