.tag{
  $prime-color: rgb(167, 167, 167);
  @include task-status($prime-color, darken($prime-color, 30%));

  input {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border: none;
    outline: none;
  }
}

.done {
  $prime-color: #30c875;
  @include task-status($prime-color, darken($prime-color, 30%));
}

.work {
  $prime-color: #fbab3e;
  @include task-status($prime-color, darken($prime-color, 30%));
}
.stuck {
  $prime-color: #e2445c;
  @include task-status($prime-color, darken($prime-color, 30%));
}

