$done-color : #30c875;
$work-color : #fbab3e;
$stuck-color : #e2445c;
$empty-color : rgb(167, 167, 167);
$title-color : rgb(255, 255, 255);

.empty {
  $prime-color: rgb(167, 167, 167);
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}

.done {
  $prime-color: $done-color;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}

.work {
  $prime-color: $work-color;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}
.stuck {
  $prime-color: $stuck-color;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}
.high {
  $prime-color: #ad3f55;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}

.medium {
  $prime-color: #f2ad53;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}
.low {
  $prime-color: #f7cb46;
  @include task-status($prime-color, darken($prime-color, 30%));
  color : $title-color;
}
.empty-bg {
  background-color: $empty-color;
  color : $title-color;
}

.done-bg {
  background-color: $done-color;
  color : $title-color;
}

.work-bg {
  background-color: $work-color;
  color : $title-color;
}
.stuck-bg {
  background-color: $stuck-color;
  color : $title-color;
}
.high-bg {
  background-color: #ad3f55;
  color : $title-color;
}

.medium-bg {
  background-color: #f2ad53;
  color : $title-color;
}
.low-bg {
  background-color: #f7cb46;
  color : $title-color;
}
