.smooth-dnd-container{
  width: 100%;
}

.task-container {
  width: 100%;
}


.smooth-dnd-container{
  width: 100%;
}


.task-preview {
  width: fit-content;
  height: rem(35px);
  margin: rem(1px) 0;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f5f6f8;


  &:hover {
    background-color: #e7e7e7;
  }

  & > section {
    display: flex;
    flex-basis: rem(200px);
    border-right: 1px solid white;
  }
  .title-picker {
    position: sticky;
    display: flex;
    justify-content: start;
    margin-left: 0.5rem;
    min-width: rem(400px);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    z-index: 100;
  }
  .status-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(200px);
    max-width: rem(400px);
    height: 100%;
  }
  .timeline-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(200px);
    max-width: rem(400px);
    height: 100%;
    
  }
  .member-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(200px);
    max-width: rem(400px);
    height: 100%;
    section {
      display: flex;
     &>div{
       margin-inline:-.2rem;
     }
    }
  }
}

.status-modal {
  padding: 1rem;
  background-color: #f5f6f8;
  position: absolute;
  z-index: 100;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.26);
  li {
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
  }
}
