.task-details {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 30px;
    top: 10px;
    height: 100vh;
    min-width: 300px;

    // !!!!!!!!!
    width: 100vw;
    // !!!!!!!!!

    text-align: center;

    i {
        text-align: left;
    }

    input {
        // margin-top: 40px;
        height: 40px;
        width: 70%;
        border: none;
    }
    input:hover {
        border: 1px solid;
    }

    .log-menu {
        margin: 0;
        gap: 20px;
        padding: 0 24px;
    }

    button {
        text-transform: capitalize;
        font: 14px roboto, sans-serif;
        padding: 7px 16px;
        border-color: transparent;
        height: 40px;
        border-radius: 4px;
        background-color: transparent;
        // flex-basis: 50%;
    }

    button:hover {
        background-color: #9699a63f;
    }

    .under-line {
        border-bottom-color: rgb(46, 46, 253);
    }

    .fas.fa-user-circle {
        font-size: 25px;
    }
    .fas.fa-plus-circle {
        position: absolute;
        margin-top: 5px;
        margin-left: -10px;
        font-size: 14px;
    }

    span{
        font-size:20px;
        padding: 0 20px;
    }

}
