.icon-filter{
    font-family: monday;
    @include to-icon("\f333");
}

.icon-format{
    font-family: monday;
    @include to-icon("\e90d");
}

.icon-bold{
    font-family: monday;
    @include to-icon("\e903");
}

.icon-italic{
    font-family: monday;
    @include to-icon("\e915");
}

.icon-underline{
    font-family: monday;
    @include to-icon("\e924");
}

.icon-linethrough{
    font-family: monday;
    @include to-icon("\e907");
}

.icon-alignment{
    font-family: monday;
    @include to-icon("\e901");
}


